[Desktop Entry]
Type=Application
Name=MeshVision
Comment=Application for Mesh Based Video Streaming
Exec=bash -c "sleep 5 && sudo -E /usr/local/bin/meshvision"
Terminal=false
StartupNotify=true
