[Unit]
Description=Batman-adv Mesh Network
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/meshvision.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
