[Unit]
Description=Batman-adv Mesh Network
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start_meshvision.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
